body {
    background-image: url("https://i.pinimg.com/736x/e0/28/7b/e0287b2e47bc1b3ef0fa009abb8ac2b3.jpg");
}
h1 {
    font-family: Lucida Handwriting, cursive;
    font-size: 35px;
    color: RoyalBlue;
    text-align: center;
    background-color: white;
    text-decoration: underline dotted pink 10px;
}
  img:hover {
    transform: scale(1.15);
    transition: transform 0.5s ease;
}

.ping{
    background-color: red;
    font-family: Century Gothic;
    font-size: 30px
    }
.pong{
    background-color: cyan;
    font-family: Century Gothic;
    font-size: 30px
    }

ul{
    font-family: Century Gothic;
    font-size: 30px
}
.fruit{
    background-color: lightpink;
}
.choco{
    background-color: chocolate;
}
.beans{
    background-color: brown;
}
.candy{
    background-color: greenyellow;
}
table {
  font-family: Bradley Hand ITC;
  border-collapse: collapse;
  width: 100%;
  font-weight: bold;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 1px;
}

th{
	font-size: 20px
}
.white{
        background-color:white;
}
.gray{
    background-color: #dddddd;
}
.introduction {
    border: 10px outset gold;
    background-color: white;
    text-align: center;
    font-family: Bradley Hand ITC;
    font-size: 30px;
}
p{
    font-family:Bradley Hand ITC;
    font-size: 30px;
    background-color: white;
    font-weight: bold;
}
.option{
    border: 5px outset lightpink;
    background-color: White;    
    text-align: center;
    font-family: Bradley Hand ITC;
    font-size: 20px;
    font-weight: bold;
}
.firsttext {
    border: 10px outset red;
    background-color: white;
    text-align: center;
    font-family: Century Gothic;
    font-size: 20px;
 }
.twotext {
    border: 10px outset purple;
    background-color: white;
    text-align: center;
    font-family: Century Gothic;
    font-size: 20px;
    }
.threetext {
    border: 10px outset blue;
    background-color: white;
    text-align: center;
    font-family: Century Gothic;
    font-size: 20px;
    }
img {
        display: block;
    margin-left: auto;
    margin-right: auto;
}
